{% extends "base.html" %}
{% block title %}REGISTER{% endblock %}
{% block style %}
<style>
    table {
        font-size: 23px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-spacing: 15px;
        display: flex;
        /* align-items: center; */
    }

    .block {
        background-color: azure;
        margin-left: 300px;
        margin-right: 300px;
        padding: 20px;
        margin-top: 40px;
    }
</style>
{% endblock %}
{% block body %}
<div class="block">
    <h1 style="text-align: center; margin-bottom: 0px; color: rgb(9, 7, 7);">REGISTER</h1>
    <form method="post" style="text-align: left;">
        {% csrf_token %}
        <table style="padding: 20px; margin-left: 100px;">
            {{ form.as_table }}
        </table>
        <button type="submit"
            style="background-color: red; margin-left: 300px; margin-top:10px; font-size: 20px;">SAVE</button>
    </form>
</div>
{% endblock %}